<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Events</key>
	<array>
		<dict>
			<key>name</key>
			<string>San Francisco Taiko Dojo</string>
			<key>start_at</key>
			<string>2015-04-11 12:15 PM</string>
			<key>end_at</key>
			<string>2015-04-19 01:15 PM</string>
			<key>location_id</key>
			<string>0</string>
			<key>location</key>
			<string>Peace Plaza Stage</string>
			<key>image_name</key>
			<string>SF Taiko Dojo</string>
			<key>description</key>
			<string>Grandmaster Seiichi Tanaka founded the San Francisco Taiko Dojo in 1968 and introduced the taiko art form to America. Over the years, Grandmaster Tanaka’s students have traveled around the globe. San Francisco Taiko Dojo still remains the most exciting and dynamic taiko group in the world. Grandmaster Tanaka’s style has developed the taiko from a primitive folk art to a powerful, sophisticated synthesis of rhythm, harmony and body movements. For more information, go to www.sftaiko.com.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 2</string>
			<key>start_at</key>
			<string>2015-04-11 11:00 AM</string>
			<key>end_at</key>
			<string>2015-04-11 12:00 PM</string>
			<key>location_id</key>
			<string>1</string>
			<key>location</key>
			<string>Place A</string>
			<key>image_name</key>
			<string>taiko</string>
			<key>description</key>
			<string>TaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaiko</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 2</string>
			<key>start_at</key>
			<string>2015-04-11 11:00 AM</string>
			<key>end_at</key>
			<string>2015-04-11 12:00 PM</string>
			<key>location_id</key>
			<string>1</string>
			<key>location</key>
			<string>Place A</string>
			<key>image_name</key>
			<string>taiko</string>
			<key>description</key>
			<string>TaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaiko</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 2</string>
			<key>start_at</key>
			<string>2015-04-11 11:00 AM</string>
			<key>end_at</key>
			<string>2015-04-11 12:00 PM</string>
			<key>location_id</key>
			<string>1</string>
			<key>location</key>
			<string>Place A</string>
			<key>image_name</key>
			<string>taiko</string>
			<key>description</key>
			<string>TaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaiko</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 2</string>
			<key>start_at</key>
			<string>2015-04-11 11:00 AM</string>
			<key>end_at</key>
			<string>2015-04-11 12:00 PM</string>
			<key>location_id</key>
			<string>1</string>
			<key>location</key>
			<string>Place A</string>
			<key>image_name</key>
			<string>taiko</string>
			<key>description</key>
			<string>TaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaiko</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 2</string>
			<key>start_at</key>
			<string>2015-04-11 11:00 AM</string>
			<key>end_at</key>
			<string>2015-04-11 12:00 PM</string>
			<key>location_id</key>
			<string>1</string>
			<key>location</key>
			<string>Place A</string>
			<key>image_name</key>
			<string>taiko</string>
			<key>description</key>
			<string>TaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaiko</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 2</string>
			<key>start_at</key>
			<string>2015-04-11 11:00 AM</string>
			<key>end_at</key>
			<string>2015-04-11 12:00 PM</string>
			<key>location_id</key>
			<string>1</string>
			<key>location</key>
			<string>Place A</string>
			<key>image_name</key>
			<string>taiko</string>
			<key>description</key>
			<string>TaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaiko</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 2</string>
			<key>start_at</key>
			<string>2015-04-11 11:00 AM</string>
			<key>end_at</key>
			<string>2015-04-11 12:00 PM</string>
			<key>location_id</key>
			<string>1</string>
			<key>location</key>
			<string>Place A</string>
			<key>image_name</key>
			<string>taiko</string>
			<key>description</key>
			<string>TaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaiko</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 2</string>
			<key>start_at</key>
			<string>2015-04-11 11:00 AM</string>
			<key>end_at</key>
			<string>2015-04-11 12:00 PM</string>
			<key>location_id</key>
			<string>1</string>
			<key>location</key>
			<string>Place A</string>
			<key>image_name</key>
			<string>taiko</string>
			<key>description</key>
			<string>TaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaikoTaiko</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 1</string>
			<key>start_at</key>
			<string>2015-04-19 01:00 PM</string>
			<key>end_at</key>
			<string>2015-04-19 02:00 PM</string>
			<key>location_id</key>
			<string>0</string>
			<key>location</key>
			<string>Post St</string>
			<key>image_name</key>
			<string>taru-mikoshi</string>
			<key>description</key>
			<string>Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. 
Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. 
Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. </string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 3</string>
			<key>start_at</key>
			<string>2015-04-12 01:00 PM</string>
			<key>end_at</key>
			<string>2015-04-12 03:00 PM</string>
			<key>location_id</key>
			<string>2</string>
			<key>location</key>
			<string>Place B</string>
			<key>image_name</key>
			<string>queen-contest</string>
			<key>description</key>
			<string>Queen ContestQueen ContestQueen ContestQueen ContestQueen Contest
Queen ContestQueen ContestQueen ContestQueen ContestQueen ContestQueen Contest</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sample Event</string>
			<key>start_at</key>
			<string>2015-04-18 10:00 AM</string>
			<key>end_at</key>
			<string>2015-04-18 01:00 PM</string>
			<key>location_id</key>
			<string>2</string>
			<key>location</key>
			<string>Place B</string>
			<key>image_name</key>
			<string>queen-contest</string>
			<key>description</key>
			<string>Queen ContestQueen ContestQueen ContestQueen ContestQueen Contest
Queen ContestQueen ContestQueen ContestQueen ContestQueen ContestQueen Contest</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 1</string>
			<key>start_at</key>
			<string>2015-04-19 01:00 PM</string>
			<key>end_at</key>
			<string>2015-04-19 02:00 PM</string>
			<key>location_id</key>
			<string>0</string>
			<key>location</key>
			<string>Post St</string>
			<key>image_name</key>
			<string>taru-mikoshi</string>
			<key>description</key>
			<string>Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. 
Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. 
Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. </string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 1</string>
			<key>start_at</key>
			<string>2015-04-19 01:00 PM</string>
			<key>end_at</key>
			<string>2015-04-19 02:00 PM</string>
			<key>location_id</key>
			<string>0</string>
			<key>location</key>
			<string>Post St</string>
			<key>image_name</key>
			<string>taru-mikoshi</string>
			<key>description</key>
			<string>Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. 
Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. 
Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. </string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 1</string>
			<key>start_at</key>
			<string>2015-04-19 01:00 PM</string>
			<key>end_at</key>
			<string>2015-04-19 02:00 PM</string>
			<key>location_id</key>
			<string>0</string>
			<key>location</key>
			<string>Post St</string>
			<key>image_name</key>
			<string>taru-mikoshi</string>
			<key>description</key>
			<string>Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. 
Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. 
Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. </string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event 1</string>
			<key>start_at</key>
			<string>2015-04-19 01:00 PM</string>
			<key>end_at</key>
			<string>2015-04-19 02:00 PM</string>
			<key>location_id</key>
			<string>0</string>
			<key>location</key>
			<string>Post St</string>
			<key>image_name</key>
			<string>taru-mikoshi</string>
			<key>description</key>
			<string>Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. 
Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. 
Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. Taru Mikoshi. </string>
		</dict>
	</array>
</dict>
</plist>
