<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{37.785616,-122.429774}</string>
	<key>topLeftCoord</key>
	<string>{37.786076,-122.433279}</string>
	<key>topRightCoord</key>
	<string>{37.786721,-122.428398}</string>
	<key>bottomLeftCoord</key>
	<string>{37.784575,-122.432915}</string>
</dict>
</plist>
