<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Peace Plaza Stage</key>
	<string>{37.785020, -122.429644}</string>
	<key>JCCCNC Stage</key>
	<string>{37.786623, -122.430922}</string>
	<key>Webster Street Stage</key>
	<string>{37.785299, -122.431328}</string>
	<key>Sakura 360 Stage</key>
	<string>{37.785504, -122.430526}</string>
	<key>Japan Center East Mall - Suite 525</key>
	<string>{37.785331, -122.4292006}</string>
	<key>JCCCNC Exhibit Spaces</key>
	<string>{37.7865679, -122.4308091}</string>
	<key>Tateuchi Auditorium Tea Ceremony</key>
	<string>{37.7867103, -122.4305626}</string>
	<key>National JACL</key>
	<string>{37.786354, -122.429286}</string>
	<key>Union Bank Community Room</key>
	<string>{37.7852847, -122.429177}</string>
	<key>Sequola&apos;s Auditorium</key>
	<string>{37.785658, -122.426507}</string>
	<key>National Japanese American Historical Society</key>
	<string>{37.785826, -122.429483}</string>
	<key>Hokka Nichibei-kai Tea Ceremony</key>
	<string>{37.7864059, -122.4291876}</string>
</dict>
</plist>
