<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FestivalDescription</key>
	<string>The 2015 Northern California Cherry Blossom Festival now celebrating its 48th year, is one of California’s most prominent celebrations of Asian traditions. Each year, over 200,000 people attend this dazzling display showcasing the color and grace of the Japanese culture and the diversity of the Japanese American Community. Please join us and become a sponsor of this popular Japanese American community event. The event is free and open to the public. Vendors will be charging for their food goods and some retail products; and some specialized events will require a fee.

This year’s Northern California Cherry Blossom Festival will be held on Saturday and Sunday April 11-12 and April 18-19, 2015. All are welcome to join in the festivities as we celebrate Japanese and Japanese American culture in San Francisco’s Japantown!

The festival will be held on Post Street between Laguna and Fillmore Streets. There will be food booths, cultural performances, martial arts, live bands, the annual Queen Program, and more. The Grand Parade will be held on Sunday, April 19, beginning at City Hall and concluding in Japantown.

The Northern California Cherry Blossom Festival is said to be the second largest festival outside of Washington, D.C. to celebrate the blooming of cherry blossoms; and held at one of three remaining Japantowns in the United States.</string>
	<key>PrivacyPolicyDescription</key>
	<string></string>
	<key>CopyrightDescription</key>
	<string></string>
	<key>SocialMedia</key>
	<array>
		<dict>
			<key>name</key>
			<string>Facebook</string>
			<key>URL</key>
			<string>https://www.facebook.com/NCCBF</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Twitter</string>
			<key>URL</key>
			<string>https://twitter.com/NC_CBF</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Instagram</string>
			<key>URL</key>
			<string>https://instagram.com/NC_CBF</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NCCBF® Website</string>
			<key>URL</key>
			<string>http://sfcherryblossom.org</string>
		</dict>
		<dict>
			<key>name</key>
			<string>About NCCBF®</string>
			<key>URL</key>
			<string></string>
			<key>description</key>
			<string>The 2015 Northern California Cherry Blossom Festival® now celebrating its 48th year, is one of California’s most prominent celebrations of Asian traditions. Each year, over 200,000 people attend this dazzling display showcasing the color and grace of the Japanese culture and the diversity of the Japanese American Community. Please join us and become a sponsor of this popular Japanese American community event. The event is free and open to the public. Vendors will be charging for their food goods and some retail products; and some specialized events will require a fee.

This year’s Northern California Cherry Blossom Festival® will be held on Saturday and Sunday April 11-12 and April 18-19, 2015. All are welcome to join in the festivities as we celebrate Japanese and Japanese American culture in San Francisco’s Japantown!

The festival will be held on Post Street between Laguna and Fillmore Streets. There will be food booths, cultural performances, martial arts, live bands, the annual Queen Program, and more. The Grand Parade will be held on Sunday, April 19, beginning at City Hall and concluding in Japantown.

The Northern California Cherry Blossom Festival® is said to be the second largest festival outside of Washington, D.C. to celebrate the blooming of cherry blossoms; and held at one of three remaining Japantowns in the United States.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Copyright</string>
			<key>URL</key>
			<string></string>
			<key>description</key>
			<string>copyright</string>
		</dict>
	</array>
</dict>
</plist>
